#root {
  margin:auto 2rem;
  padding: 4rem;
  text-align: center;
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 20px; /* Space inside the border */
  
  border: 5px solid #3498db; /* Change the color as needed */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  font-family: Arial, sans-serif; /* Default font */
  min-height: 100vh; /* Ensure full height */
}

